<h1>About</h1>

<div class="content">
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
        aliqua. Varius quam quisque id diam vel quam elementum pulvinar etiam. Mauris nunc congue nisi vitae suscipit
        tellus. Amet facilisis magna etiam tempor orci. Sed sed risus pretium quam vulputate. Ut faucibus pulvinar elementum
        integer enim neque volutpat ac tincidunt. Auctor augue mauris augue neque gravida in fermentum. Porta lorem mollis
        aliquam ut porttitor leo a. Ut diam quam nulla porttitor massa id neque aliquam. Mattis pellentesque id nibh tortor
        id aliquet lectus proin nibh. Egestas congue quisque egestas diam in arcu cursus. Varius morbi enim nunc faucibus a
        pellentesque sit amet porttitor. Id faucibus nisl tincidunt eget nullam non. Facilisis sed odio morbi quis commodo
        odio aenean sed adipiscing. Enim neque volutpat ac tincidunt. Euismod nisi porta lorem mollis aliquam ut porttitor
        leo a. Habitasse platea dictumst vestibulum rhoncus est pellentesque elit ullamcorper. Aenean sed adipiscing diam
        donec adipiscing tristique risus nec feugiat. Etiam non quam lacus suspendisse faucibus interdum.
    </p>
    
    <img src="assets/Baker.jpg">
</div>
