<h1>{{currentProduct.itemName}}</h1>

<div class="container">
    <div class="description">
        <h2>${{currentProduct.price}}</h2>
        <p>{{currentProduct.description}}</p>
    </div>
    <div class="image">
        <mat-card class="example-card" class="cardImage">
            <img mat-card-image [src]="currentProduct.imageUrl" alt="Photo of a Bread">
        </mat-card>
    </div>
</div>

<div class="buttonContainer">
<button [routerLink]='["/edit", currentProduct.id]'>Edit Product</button>
<button (click)="onDelete(currentProduct.id)">Delete Product</button>
<button routerLink="/products">Back</button>
</div>
