<h1>Create New Product</h1>
<div class="container"> 
    <form class="example-form" #form="ngForm" (ngSubmit)="onSubmit()">
        <mat-form-field class="example-full-width" appearance="outline" [style.width.px]=500>
            <mat-label>Product Name</mat-label>
            <input matInput type="text" name="productName" class="input" [(ngModel)]="newProduct.itemName" required>
        </mat-form-field>
        <br>
        <mat-form-field appearance="outline" [style.width.px]=150>
            <mat-label>Price</mat-label>
            <input matInput type="number" name="price" class="input" placeholder="$" [(ngModel)]="newProduct.price" required>
        </mat-form-field>
        <br>
        <mat-form-field appearance="outline" [style.width.px]=500>
            <mat-label>Description</mat-label>
            <textarea matInput type="text" name="description" class="input" [(ngModel)]="newProduct.description" required></textarea>
        </mat-form-field>
        <br>
        <mat-form-field appearance="outline" [style.width.px]=500>
            <mat-label>Is the Product Organic?</mat-label>
            <mat-select class="input" required>
                <mat-option value="true">Yes</mat-option>
                <mat-option value="false">No</mat-option>
            </mat-select>
        </mat-form-field>
        <br>
        <mat-form-field appearance="outline" [style.width.px]=500> 
            <mat-label>Product Image URL</mat-label>
            <input matInput type="text" name="imageLink" class="input" [(ngModel)]="newProduct.imageUrl" required>
        </mat-form-field>
        <br>
        <button type="submit">Create</button>
        <button routerLink="/products">Back</button>
    </form>
</div> 

<!-- <div class="container">
<form #form="ngForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="exampleFormControlInput1">Product Name</label>
      <input type="Name" class="form-control" id="prodName" type="text" name="productName" class="input" [(ngModel)]="newProduct.itemName">
    </div>
    <div class="form-group">
        <label for="exampleFormControlInput1">Price</label>
        <input type="Price" class="form-control" id="prodName" type="text" name="productName" class="input" placeholder="$" [(ngModel)]="newProduct.price">
      </div>
      <div class="form-group">
        <label for="description">Description</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" [(ngModel)]="newProduct.description"></textarea>
      </div>
    <div class="form-group">
      <label for="exampleFormControlSelect1">Is the Product Organic?</label>
      <select class="form-control" id="exampleFormControlSelect1" [(ngModel)]="newProduct.organic">
        <option value="true">Yes</option>
        <option value="false">No</option>
      </select>
    </div>
    <div class="form-group">
        <label for="exampleFormControlInput1">Product Image URL</label>
        <input type="url" class="form-control" id="url" type="text" name="productUrl" class="input" placeholder="http://" [(ngModel)]="newProduct.imageUrl">
      </div>
  </form>
</div> -->

<!-- <h1>Create New Product</h1>
<form #form="ngForm" (ngSubmit)="onSubmit()">
    <label>Product Name</label>
    <input type="text" name="productName" [(ngModel)]="newProduct.itemName">

    <label>Product Description</label>
    <input type="text" name="description" [(ngModel)]="newProduct.description">

    <label>Product Price</label>
    <input type="text" name="price" [(ngModel)]="newProduct.price">

    <label>Organic</label>
    <select name = "organic" [(ngModel)]="newProduct.organic">
        <option value = "true" selected>Yes</option>
        <option value = "false">No</option>
     </select>

    <label>Product Image Link</label>
    <input type="text" name="imageLink" [(ngModel)]="newProduct.imageUrl">

    <button type="submit">Create</button>
    <button routerLink="/products">Back</button>
</form> -->


<!-- <form class="example-form" #form="ngForm" (ngSubmit)="onSubmit()">
    <mat-form-field class="example-full-width">
      <mat-label>Company (disabled)</mat-label>
      <input matInput disabled value="Google">
    </mat-form-field> -->

<!-- <table class="example-full-width" ><tr>
      <td><mat-form-field class="example-full-width">
        <mat-label>Product Name</mat-label>
        <input matInput type="text" name="productName" [(ngModel)]="newProduct.itemName">
      </mat-form-field></td>
      <td><mat-form-field class="example-full-width">
        <mat-label>Price</mat-label>
        <input matInput type="number" name="price" [(ngModel)]="newProduct.description">
      </mat-form-field></td>
    </tr></table> -->

<!-- <p>
      <mat-form-field class="example-full-width">
        <mat-label>Description</mat-label>
        <textarea matInput type="text" name="description" [(ngModel)]="newProduct.description">Enter Product Description Here</textarea>
      </mat-form-field> -->
<!-- <mat-form-field class="example-full-width">
        <mat-label>Address 2</mat-label>
        <textarea matInput></textarea>
      </mat-form-field> -->
<!-- </p>
    <table class="example-full-width" cellspacing="0"><tr>
      <td><mat-form-field class="example-full-width">
        <mat-label>Is the Product Organic?</mat-label>
        <mat-select>
            <mat-option value="true">Yes</mat-option>
            <mat-option value="false">No</mat-option>
          </mat-select>
      </mat-form-field></td>
      <td><mat-form-field class="example-full-width">
        <mat-label>Product Image URL</mat-label>
        <input matInput type="text" name="imageLink" [(ngModel)]="newProduct.imageUrl">
      </mat-form-field></td> -->
<!-- <td><mat-form-field class="example-full-width">
        <mat-label>Postal Code</mat-label>
        <input matInput #postalCode maxlength="5" placeholder="Ex. 94105" value="94043">
        <mat-hint align="end">{{postalCode.value.length}} / 5</mat-hint>
      </mat-form-field></td> -->
<!-- </tr></table>
    <button type="submit">Create</button>
    <button routerLink="/products">Back</button>
  </form> -->

<!-- <mat-form-field>
    <mat-label>Organic?</mat-label>
    <mat-select>
      <mat-option value="true">Yes</mat-option>
      <mat-option value="false">No</mat-option>
    </mat-select>
  </mat-form-field> -->

