nav {
    display: flex;
    background-color: rgb(255, 254, 254);
    padding-top: 0;
    padding-bottom: 0;
}

#navbar{
    display: flex;
}

.navbar {
    display: flex;
}

#background {
    background-color: rgb(255, 254, 254);
    padding-left: 0;
    padding-right: 0;
    margin: auto;
}

#navbarSupportedContent {
    padding-top: 20px
}

#searchBox {
    margin: auto;
}


#button {
    margin-left: 8px;
    display: flex;
    padding-top: 8px;
    padding-bottom: 8px;
    color: rgb(47, 34, 34);
    background: rgb(231, 211, 174);
    border: none;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}


#form {
    display: flex;
    flex-flow: row;
    margin-left: 900px;
    margin-right: auto;
}

input {
    font-size: inherit;
}

#footer {
    display: flex;
    justify-content: left;
    background-color: rgb(231, 211, 174);
    padding-top: 12px;
    font-size: smaller;
}


