h1 {
    text-align: center;
    font-size: 5em;
    padding-top: 25px;
    /* padding-bottom: 10px; */
}

.container {
    display: flex;
    flex-wrap: wrap;
}

.example-card {
    /* margin-top: 20px; */
    box-shadow: 5px 15px 30px #a8a8a8;
    margin-bottom: 50px;
}

.cardImage {
    width: 260px;
    height: 360px;
}

#imagesContainer {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: auto;
    cursor: pointer;
    margin-bottom: 40px;
}

button {
    font: inherit;
    font-size: 1.1em;
    cursor: pointer;
    outline: inherit;
    color: black;
    background: none;
    border: none;
    padding: 10px;
}

button:hover {
    text-shadow: 1px 1px 2px rgb(222, 196, 140);
}

#createButton {
    font: inherit;
    font-size: 1.1em;
    cursor: pointer;
    outline: inherit;
    color: black;
    background: none;
    border: none;
    padding: 0px;
    margin-left: 30px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.buttonContainer {
    display: flex;
    justify-content: center;
    padding-right: 30px;
    flex-wrap: wrap;
    /* margin-bottom: 100px; */
    /* margin-top: 50px; */
    padding-bottom: 30px;
    /* height:5vh; */
}

#zoom {
    transition: transform .1s;
    /* margin: 0 auto; */
}

#zoom:hover {
    transform: scale(1.05);
}