<div class="title">
    <h1>We. <em>Love.</em> Bread.</h1>
</div>


<div class="container-fluid" id="imagesContainer">
    <mat-card class="example-card">
        <img mat-card-image class="cardImage" src= "assets/Sourdough-boule.jpg" alt="Photo of a Sourdough Boule">
      </mat-card>
    
      <mat-card class="example-card" >
        <img mat-card-image class="cardImage" src= "assets/Ciabatta.jpg" alt="Photo of a Sourdough Batard">
      </mat-card>
    
      <mat-card class="example-card">
        <img mat-card-image class="cardImage" src= "assets/Brioche.jpg" alt="Photo of a sliced Brioche loaf">
      </mat-card>
</div>
